* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: Arial, sans-serif;
    background: #f4f4f4;
    padding: 40px;
}


.card-container{
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 25px;
}

.card img{
    width: 100%;
    object-fit: cover;
}


.card{
    background: white;
    border-radius: 10px;
    overflow: hidden;
    box-shadow: 0 5px 15px rgba(0, 0, 0, 0.15);
    transition: transform 0.3s ease;
}

.card:hover {
    transform: translateY(-10px);
}

.card-content{
    padding: 20px;
    text-align: center;
}

.card-content h3 {
    margin-bottom: 10px;
    color: #333;
}

.card-content p {
    color: #666;
    line-height: 1.6;
}


@media(max-width: 1200px){
.card-container{
    grid-template-columns: repeat(3, 1fr);
}
}


@media(max-width: 768px) {
    .card-container {
        grid-template-columns: repeat(2, 1fr);
    }
}



@media(max-width: 425px) {
    body {
        padding: 20px;
    }
    .card-container {
        grid-template-columns: 1fr;
    }
}  